@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css');

*{
    margin: 0px;
    padding: 0px;
    background-color: black;
}

:root{
    --font-primary: "Baloo Da 2", serif;
    --font-secudary: "Josefin Slab", serif;
    --font-action: "Muli", serif;
}

h1{
    color: white;
    font-family: var(--font-primary);
    font-style: italic;
}

.header_gallery1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.img_row{
    width: 300px;
    height: 300px;
    overflow: hidden;
    margin: 25px;
}

.small_img{
    height: 100%;
    cursor: pointer;
    transition: all linear .4s;
}

.small_img:hover{
    filter: blur(100%);
    transform: scale(1.1);
}

.row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#modal_img{
    width: 65vw;
}

.modal{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.7); 
    position: fixed; 
    visibility: hidden;
    z-index: 1;
    opacity: 0;
    transition: visibility .7s, opacity .4s linear;
}

.modal_content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#bt_close{
    color: white;
    background-color: black;
    position: absolute;
    top: 10px;
    right: 50px;
    padding: 5px 10px;
    font-size: 25px;
    border: solid 1px white;
    cursor: pointer;
    transition: all ease-out .3s;
}

#bt_close:hover{
    background-color: blue;
}

.modal_active{
    visibility: visible;
    opacity: 1;
}