@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

:root{
    --font-primary: "Baloo Da 2", serif;
    --font-secudary: "Josefin Slab", serif;
    --font-action: "Muli", serif;
}

.hamburguer{
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 101;
    right: 4rem;
    top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
}

.show-menu .hamburguer{
    right: 11rem;
}

.line{
    width: 100%;
    height: .1rem;
    background-color: white;
    box-shadow: 0.1rem 0.1rem 1px black;
    transition: transform .5s;
}

.show-menu #line1{
    transform: rotate(45deg) translate(.3rem, .4rem);
}

.show-menu #line2{
    opacity: 0;
    visibility: hidden;
}

.show-menu #line3{
    transform: rotate(-45deg) translate(.3rem, -.5rem);
}

.hamburguer span{
    position: absolute;
    left: 3rem;
    height: 2rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(119, 34, 34);
    color: white;
    font-family: var(--font-secudary);

    opacity: 0;
}

.hamburguer span::before{
    content: "";
    position: absolute;
    border-right: .5rem solid rgb(119, 34, 34);
    border-top: .5rem solid transparent;
    border-left: .5rem solid transparent;
    border-bottom: .5rem solid transparent;
    left: -1.5rem;
}

.show-menu .hamburguer:hover span{
    opacity: 1;
}

header{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.img-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: black;
}

.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    animation: zoom 4s;
}

@keyframes zoom{
    0%{
        transform: scale(1.8);
    }
    100%{
        transform: scale(1);
    }
}
.banner{
    position: absolute;
    top: 25%;
    left: 2%;
}

.banner h1{
    color: white;
    font-size: 4.5rem;
    font-family: var(--font-primary);
    font-weight: 200;
    font-style: italic;
    text-shadow: .3rem .4rem 2px rgba(0, 0, 0, .6);
    margin-bottom: 0.5rem;
    opacity: 0;
    animation: moveBanner 1s forwards;
}

.banner p{
    color: white;
    font-size: 3.5rem;
    font-family: var(--font-secudary);
    font-weight: 800;
    font-style: italic;
    text-shadow: .3rem .4rem 2px rgba(0, 0, 0, .6);
    margin-bottom: 2rem;
    opacity: 0;
    animation: moveBanner 1.6s forwards;
    
}

.banner button{
    font-family: var(--font-action);
    color: black;
    text-transform: uppercase;
    letter-spacing: .1rem;
    background: #FFEFBA; 
    background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  
    background: linear-gradient(to right, #FFFFFF, #FFEFBA); 
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border: none;
    border-radius: 5px;
    font-size: 1.3rem;
    cursor: pointer;

    opacity: 0;
    animation: moveBanner 1.9s forwards;
}

@keyframes moveBanner{
    0%{
        transform: translateY(10rem) rotateY(-30deg);
    }
    100%{
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}

.sidebar{
    width: 14rem;
    height: 100vh;
    background: #333333;
    background: -webkit-linear-gradient(to left, #720e0e, #272727);
    background: linear-gradient(to left, #720e0e, #272727);
    position: fixed;
    top: 0;
    right: -20rem;
    transition: all 1s;
    z-index: 100;
}

.show-menu .sidebar{
    right: 0;
}

.menu{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-item{
    text-align: center;   
}

.menu-link{
    font-family: var(--font-secudary);
    font-weight: 900;
    font-size: 2rem;
    font-style: italic;
    color: white;
}

.menu-link:hover{
    color: rgb(53, 53, 53);
}

.socialMedia{
    position: absolute;
    bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background: #333333;
    background: -webkit-linear-gradient(to left, #720e0e, #272727);
    background: linear-gradient(to left, #720e0e, #272727);

}

.socialMedia i{
    color: white;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socialMedia i:hover{
    color: rgb(53, 53, 53);
}

.sessao-projetos{
    background: #333333;
    background: -webkit-linear-gradient(to left, #720e0e, #272727);
    background: linear-gradient(to left, #720e0e, #272727);
    /*background: #0F2027;  
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    background: #0f0c29;
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);*/ 
}

.sessao-projetos h1{
    font-size: 4rem;
    font-weight: bolder;
    font-style: italic;
    text-align: center;
    color: white;
} 

.projetos{
    color: white;
    font-family: var(--font-primary);
    display: flex;
    justify-content: space-evenly;
}

.projetos h2{
    font-size: 2rem;
    font-weight: bolder;
    font-style: italic;
    display: flex;
    color: white;
}

.card{
    width: 28rem;
    height: 30rem;
    position: relative;
}

.card-img-wrapper{
    width: 100%;
    height: 100%;
    border-radius: .5rem;
}

.card-img-wrapper img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    margin-top: 10px;
    border-radius: .5rem;
    opacity: 1;
    /*justify-content: space-center; 
    bottom: 0;*/
    transition: opacity .3s;
}

.card:hover .card-img-wrapper img{
    opacity: .3;
}

.card-info{
    position: absolute;
    bottom: 0;
    padding: 2rem;
    text-shadow: 0.9rem 0.5rem 0.8rem black;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
}

.card-info h3{
    font-family: var(--font-primary);
    font-size: 2rem;
    font-weight: 500;
}

.card-info p{
    font-family: var(--font-secudary);
    font-weight: bolder;
    font-size: 1.5rem;
}

.card-info button{
    background: #ee9ca7;
    background: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7);  
    background: linear-gradient(to right, #ffdde1, #ee9ca7); 
    width: 8rem;
    height: 2rem;
    cursor: pointer;
    color: black;
    font-weight: bolder;
    text-transform: uppercase;
    border-radius: .5rem;
    border: none;
    box-shadow: 0 .1rem .8rem black;
    margin-top: 1.5rem;
}

.card:hover .card-info{
    background-color: black;
    bottom: 2rem;
    opacity: .8;
    visibility: visible;
}

.sessao-contato{
    width: 100%;
    height: 100vh;
    background-color: rgb(27, 27, 27);
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contato-wrapper{
    width: 100%;
    height: 30rem;
    display: flex;

}

.contato-esquerda{
    width: 50%;
    background: linear-gradient(rgba(88, 88, 88, 0.2), rgba(124, 124, 124, 0.5)), url(Imagens/logo10.jpg);
    background-size: cover;
    padding: 2rem 3rem 3rem 3rem;
}

.contato-direita{
    width: 50%;
    padding: 2rem 5rem 5rem 5rem;
    background: #333333;
    background: -webkit-linear-gradient(to left, #720e0e, #272727);
    background: linear-gradient(to left, #720e0e, #272727);
}

.sessao-contato h1{
    font-family: var(--font-primary);
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: lighter;
    font-style: italic;
    text-align: center;
    padding-top: 0;
}

.sessao-contato form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-grupo{
    position: relative;
}

.field{
    border: none;
    width: 25rem;
    font-size: 1.2rem;
    font-family: serif;
    font-weight: lighter;
    border-bottom: 1px dashed gray;
    height: 2.2rem;
    outline: none;
    margin: 2rem 0;
    padding: 0;
    box-shadow: 0 .3rem .9rem black;
}

.input-grupo textarea{
    padding-top: 1.5rem;
    max-width: 30rem;
    max-height: 4rem;
    min-width: 15rem;
    min-height: 2rem;
}

.field-label{
    position: absolute;
    left: 0;
    font-size: 1.2rem;
    color: white;
    font-family: var(--font-primary);
    font-weight: lighter;
    text-transform: uppercase;
    transition: all .4s;
    padding-left: .6rem;
    padding-bottom: .6rem;
}

/*.field:focus ~ label{
    top: 0;
    color: white;
}*/

.field:focus{
    border-bottom: 2px solid;
}

.btn-submit{
    background: #ee9ca7;
    background: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7);  
    background: linear-gradient(to right, #ffdde1, #ee9ca7);
    font-size: 1.2rem;
    font-family: var(--font-primary);
    font-weight: lighter;
    text-transform: uppercase;
    width: 50%;
    height: 2rem;    
    cursor: pointer;
    border-radius: 10rem;
    border: none;
    box-shadow: 0 .3rem .8rem black;
}