@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

:root{
    --font-primary: "Baloo Da 2", serif;
    --font-secudary: "Josefin Slab", serif;
    --font-action: "Muli", serif;
}

.hamburguer{
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 100;
    right: 4rem;
    top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
}

.show-menu .hamburguer{
    right: 11rem;
}

.line{
    width: 100%;
    height: .1rem;
    background-color: white;
    box-shadow: 0.1rem 0.1rem 1px black;
    transition: transform .5s;
}

.show-menu #line1{
    transform: rotate(45deg) translate(.3rem, .4rem);
}

.show-menu #line2{
    opacity: 0;
    visibility: hidden;
}

.show-menu #line3{
    transform: rotate(-45deg) translate(.3rem, -.5rem);
}

.hamburguer span{
    position: absolute;
    left: 3rem;
    height: 2rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(119, 34, 34);
    color: white;
    font-family: var(--font-secudary);

    opacity: 0;
}

.hamburguer span::before{
    content: "";
    position: absolute;
    border-right: .5rem solid rgb(119, 34, 34);
    border-top: .5rem solid transparent;
    border-left: .5rem solid transparent;
    border-bottom: .5rem solid transparent;
    left: -1.5rem;
}

.show-menu .hamburguer:hover span{
    opacity: 1;
}

header{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.img-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: black;
}

.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    animation: zoom 4s;
}

@keyframes zoom{
    0%{
        transform: scale(1.8);
    }
    100%{
        transform: scale(1);
    }
}
.banner{
    position: absolute;
    top: 25%;
    left: 2%;
}

.banner h1{
    color: white;
    font-size: 4.5rem;
    font-family: var(--font-primary);
    font-weight: 200;
    font-style: italic;
    text-shadow: .3rem .4rem 2px rgba(0, 0, 0, .6);
    margin-bottom: 0.5rem;
    opacity: 0;
    animation: moveBanner 1s forwards;
}

.banner p{
    color: white;
    font-size: 3.5rem;
    font-family: var(--font-secudary);
    font-weight: 800;
    font-style: italic;
    text-shadow: .3rem .4rem 2px rgba(0, 0, 0, .6);
    margin-bottom: 2rem;
    opacity: 0;
    animation: moveBanner 1.6s forwards;
    
}

.banner button{
    font-family: var(--font-action);
    color: black;
    text-transform: uppercase;
    letter-spacing: .1rem;
    background: #FFEFBA; 
    background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  
    background: linear-gradient(to right, #FFFFFF, #FFEFBA); 
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border: none;
    border-radius: 5px;
    font-size: 1.3rem;
    cursor: pointer;

    opacity: 0;
    animation: moveBanner 1.9s forwards;
}

@keyframes moveBanner{
    0%{
        transform: translateY(10rem) rotateY(-30deg);
    }
    100%{
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}

.sidebar{
    width: 14rem;
    height: 100vh;
    background: #333333;
    background: -webkit-linear-gradient(to left, #dd1818, #272727);
    background: linear-gradient(to left, #dd1818, #272727);
    position: fixed;
    top: 0;
    right: -20rem;
    transition: all 1s;
}

.show-menu .sidebar{
    right: 0;
}

.menu{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-item{
    text-align: center;   
}

.menu-link{
    font-family: var(--font-secudary);
    font-weight: 900;
    font-size: 2rem;
    font-style: italic;
    color: white;
}

.menu-link:hover{
    color: rgb(53, 53, 53);
}

.socialMedia{
    position: absolute;
    bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background: #333333; 
    background: -webkit-linear-gradient(to left, #dd1818, #272727);
    background: linear-gradient(to left, #dd1818, #272727);

}

.socialMedia i{
    color: white;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socialMedia i:hover{
    color: rgb(53, 53, 53);
}

.sessao-projetos h1{
    font-size: 6rem;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    color: rgb(97, 22, 22);
} 

.projetos{
    color: rgb(97, 22, 22);
    font-family: var(--font-primary);
    display: flex;
    margin-left: 5rem;
}

.projetos h2{
    font-size: 2rem;
    font-weight: 100;
    font-style: italic;
}

.card{
    width: 20rem;
    height: 30rem;
}

.card .img-wrapper{
    width: 50%;
    height: 50%;
}